firmware/local-tracker.yaml
firmware/secrets.yaml
.zsh_history
flake.lock
.direnv/
firmware/fonts/
# unsure if I can include the font..
.platformio/
components/baseball_tracker/__pycache__/
mlb_data/
mlb_live_*
backup/*
simulate/bin
simulate/build
deps/
imgui.ini
simulate/imgui.ini
.opencode/